@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

.grid {
  display: grid;
  grid-template-columns: repeat(3, 136px);
  grid-template-rows: repeat(3, 136px);
  width: 422px;
  height: 422px;
  gap: 10px
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  color: #3F3F3F
}

button {
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 10px;
  color: whitesmoke;
}

footer a {
  color: whitesmoke;
}

.main {
  height: 100vh;
  width: 100%;
}

.container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  color: white;
  font-weight: 700;
  font-size: 70px;
  white-space: nowrap;
  width: 350px;
}



.title-animation {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  /* Adjust as needed */
  border-right: 8px solid #3F3F3F;
  /* Simulate a cursor */
  white-space: nowrap;
}

.typing {
  color: white;
  animation: typing 6s steps(8) infinite, blink-caret 0.5s step-end infinite;
}

.container-home-btn,
.container-choose-btn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px
}

.mode-btn {
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 8px;
  border: none;
}

.mode-btn:hover {
  background-color: rgb(238, 232, 232);
}

@keyframes typing {

  0%,
  50%,
  100% {
    width: 0;
  }

  25%,
  75% {
    width: 70%;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-right-color: transparent;
  }

  50% {
    border-right-color: #3F3F3F;
    /* Simulate a cursor */
  }
}



.choose-emoji-title {
  font-size: 50px;
  margin-bottom: 20px;
}

.emoji-choose-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  place-items: center;
  width: 380px;
}

.choose-emoji-square {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  background-color: whitesmoke;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.choose-emoji-square.selected {
  box-shadow: #13547a 0px 8px 24px;
}

.play,
.goHome {
  padding: 16px 30px;
  font-size: 26px;
  border: none;
  border-radius: 8px;
  background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
  transition: all 0.5s;
}

.goHome {
  text-decoration: none;
  color: white;
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
}

.play:hover,
.goHome:hover,
.choose-emoji-square:hover,
.choose-emoji-square::after {
  box-shadow: #13547a 0px 8px 24px;
}

.choose-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-wrap {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  font-size: 40px;
  border: 1px #3F3F3F solid;
  border-radius: 8px;
  padding: 10px;
  background-color: #13547a;
  width: 400px;
  height: 60px;
}

.currentPlayer {
  background-color: rgb(191, 224, 251);
  padding: 3px 60px;
  border-radius: 8px;
  transition: all 0.8s;
}

.winner-popup {
  background-color: white;
  padding: 80px;
  border-radius: 8px;
}

.square-btn {
  font-size: 40px;
  padding: 50px;
  border-radius: 8px;
}

.single-game-board-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 500px; */
}

@media only screen and (max-width: 600px) {

  .title,
  .title-animation {
    font-size: 60px;
    white-space: nowrap;
    width: 310px;
  }

  .container-home-btn {
    flex-direction: column;
  }

  .grid {
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    width: 380px;
    height: 380px;
  }

  .player-wrap {
    width: 350px;
    height: 50px;
  }

  .square-btn {
    padding: 0;
  }

  .winner-popup {
    background-color: white;
    padding: 20px 60px;
    border-radius: 8px;
  }
}

@media only screen and (max-width: 400px) {

  .title,
  .title-animation {
    font-size: 60px;
    white-space: nowrap;
    width: 310px;
  }

  .container-home-btn {
    flex-direction: column;
  }

  .grid {
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    width: 300px;
    height: 300px;
    gap: 5px;
  }
}

@media only screen and (max-width: 376px) {
  .container-home-btn {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mode-btn {
    padding: 15px 20px;
    width: 200px;
  }

  .emoji-choose-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    place-items: center;
    width: 300px;
  }

  .choose-emoji-square {
    width: 70px;
    height: 70px;
    font-size: 50px;
  }

  .grid {
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    gap: 5px;
    width: 250px;
  }

  .square-btn {
    padding: 0;
  }

  .player-wrap {
    width: 300px;
    height: 50px;
  }
}